html, body, #root{
    height: 100%;
    margin:0;
    padding: 0;
    overflow: auto;
}


body {
    background: #444;
    
    background-position: center center;
    background-size: cover; 
    background-repeat: repeat;
    background-image: url('/back.jpg');
  }
  

a {
  text-decoration: none;
  color: #1565c0;
}
a:hover {
  text-decoration: underline;
}


*{
    scrollbar-width: thin;
    scrollbar-color: #ddd #fff;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
